.navbar {
    padding-left: 2vmin;
    padding-right: 2vmin;
    position: sticky;
    justify-content: center;
}

.navbar-brand{
    font-size: 5vmin;
}

.nav-item{
    display: flex;
    font-size: 2.3vmin;
    color: white;
}

.random{
    padding:.5rem 1rem;
    color: white;
    text-decoration:none;
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    background-color:wheat;
    opacity: 0.9;
    border-radius: 2vmin;
}

.searchBar{
    float: right;
}