.main {
    width: 100%;
    padding-left: 7vmin;
    padding-right: 7vmin;
    padding-top: 5vmin;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: wheat;
    text-align: center;
}

.main-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.main-page-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.card {
    width: 18rem;
    margin-top: 4vmin;
    border-radius: 1vmin;
}

.card img{
    width: 100%;
}

.card-newrecipe {
    width: 20rem;
    border-radius: 1vmin;
    height:fit-content;
}

.card-details{
    width: 65rem;
    border-radius: 1vmin;
    text-align: left;
}

.card-details-title {
    text-align: left;
}

.card-details-text {
    text-align: left;
    width: fit-content;
    padding-right: 4vmin;
}

.card-details-text-a {
    text-align: left;

}